{% include 'copyright.jinja2' %}

#import "{{name}}.h"
{%- block body %}
{% if add_typedef %}
typedef SDLEnum {{name}} NS_TYPED_ENUM;
{% endif -%}
{%- for param in params %}
{{ name }} const {{ name }}{{param.name}} = @"{{param.origin}}";
{%- endfor -%}
{% endblock -%}
