<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>7.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>ford.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Requesting access to the speech recognition API</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>external-accessory</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.smartdevicelink.prot29</string>
		<string>com.smartdevicelink.prot28</string>
		<string>com.smartdevicelink.prot27</string>
		<string>com.smartdevicelink.prot26</string>
		<string>com.smartdevicelink.prot25</string>
		<string>com.smartdevicelink.prot24</string>
		<string>com.smartdevicelink.prot23</string>
		<string>com.smartdevicelink.prot22</string>
		<string>com.smartdevicelink.prot21</string>
		<string>com.smartdevicelink.prot20</string>
		<string>com.smartdevicelink.prot19</string>
		<string>com.smartdevicelink.prot18</string>
		<string>com.smartdevicelink.prot17</string>
		<string>com.smartdevicelink.prot16</string>
		<string>com.smartdevicelink.prot15</string>
		<string>com.smartdevicelink.prot14</string>
		<string>com.smartdevicelink.prot13</string>
		<string>com.smartdevicelink.prot12</string>
		<string>com.smartdevicelink.prot11</string>
		<string>com.smartdevicelink.prot10</string>
		<string>com.smartdevicelink.prot9</string>
		<string>com.smartdevicelink.prot8</string>
		<string>com.smartdevicelink.prot7</string>
		<string>com.smartdevicelink.prot6</string>
		<string>com.smartdevicelink.prot5</string>
		<string>com.smartdevicelink.prot4</string>
		<string>com.smartdevicelink.prot3</string>
		<string>com.smartdevicelink.prot2</string>
		<string>com.smartdevicelink.prot1</string>
		<string>com.smartdevicelink.prot0</string>
		<string>com.ford.sync.prot0</string>
		<string>com.smartdevicelink.multisession</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
